<template>
  <div>
    <a-button type="primary" @click="showModal">
      Nouvelle Categorie
    </a-button>
    <categorie-create-form
      ref="categorieForm"
      :visible="visible"
      @cancel="handleCancel"
      @create="handleCreate"
    />
    <a-table :columns="columns" :data-source="data" bordered>
        <template
        v-for="col in ['description']"
        :slot="col"
        slot-scope="text, record, index"
        >
        <div :key="col">
            <a-input
            v-if="record.editable"
            style="margin: -5px 0"
            :value="text"
            @change="e => handleChange(e.target.value, record.key, col)"
            />
            <template v-else>
            {{ text }}
            </template>
        </div>
        </template>
        <template slot="operation" slot-scope="text, record, index">
        <div class="editable-row-operations">
            <span v-if="record.editable">
            <a @click="() => save(record.key)">Save</a>
            <a-popconfirm title="Sure to cancel?" @confirm="() => cancel(record.key)">
                <a>Cancel</a>
            </a-popconfirm>
            </span>
            <span v-else>
            <a :disabled="editingKey !== ''" @click="() => edit(record.key)">Edit</a>
            </span>
            <span>
                <a-popconfirm
                v-if="data.length"
                title="Sure to delete?"
                @confirm="() => onDelete(record.key)">
                 <a href="javascript:;">Delete</a>
                </a-popconfirm>
            </span>
        </div>
        </template>
    </a-table>
  </div>
</template>

<script>

const columns = [
  {
    title: 'description',
    dataIndex: 'description',
    width: '80%',
    scopedSlots: { customRender: 'description' },
  },
  {
    title: 'operation',
    dataIndex: 'operation',
    scopedSlots: { customRender: 'operation' },
  },
];
const CategorieCreateForm = {
  props: ['visible'],
  beforeCreate() {
    this.form = this.$form.createForm(this, { description: 'form_in_modal' });
  },
  template: `
    <a-modal
      :visible="visible"
      title='Nouvelle Categorie'
      okText='Create'
      @cancel="() => { $emit('cancel') }"
      @ok="() => { $emit('create') }"
    >
      <a-form layout='vertical' :form="form">
        <a-form-item label='Designation'>
          <a-input
            v-decorator="[
              'designation',
              {
                rules: [{ required: true, message: 'Please input the description of categorie!' }],
              }
            ]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  `,
};

export default {
  components: { CategorieCreateForm },
  data() {
    return {
      visible: false,
      data: [],
      cacheData: [],
      columns,
      editingKey: '',
    };
  },
  async mounted(){
    try{
        let data = [];
        let response = await this.$api.categorie.get();
        response.data.data.forEach(element => {
            data.push({
                key: element.id,
                description: element.designation
            });
        });
        this.data = data;
        this.cacheData = data.map(item => ({ ...item }));
    }catch(exception){
                console.error("Error --->");
                console.log(exception);
    }
  },
  methods: {
    showModal() {
      this.visible = true;
    },
    handleCancel() {
      this.visible = false;
    },
    handleCreate() {
      const form = this.$refs.categorieForm.form;
      form.validateFields((err, values) => {
        if (err) {
          return;
        }
        this.$api.categorie.create(values).then(response => {
            this.data.splice(0)
            response.data.data.forEach(element => {
                this.data.push({
                    key: element.id,
                    description: element.designation
                });
            });
        })
        form.resetFields();
        this.visible = false;
      });
    },
    onDelete(key) {
        const data = [...this.data];
        this.$api.categorie.delete(key);
        this.data = data.filter(item => item.key !== key);
    },
    handleChange(value, key, column) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      if (target) {
        target[column] = value;
        this.data = newData;
      }
    },
    edit(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      this.editingKey = key;
      if (target) {
        target.editable = true;
        this.data = newData;
      }
    },
    save(key) {
      const newData = [...this.data];
      const newCacheData = [...this.cacheData];
      const target = newData.filter(item => key === item.key)[0];
      const targetCache = newCacheData.filter(item => key === item.key)[0];
      if (target && targetCache) {
        delete target.editable;
        this.$api.categorie.update(target);
        this.data = newData;
        Object.assign(targetCache, target);
        this.cacheData = newCacheData;
      }
      this.editingKey = '';
    },
    cancel(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.key)[0];
      this.editingKey = '';
      if (target) {
        Object.assign(target, this.cacheData.filter(item => key === item.key)[0]);
        delete target.editable;
        this.data = newData;
      }
    },
  },
};
</script>