<template>
  <div>
    <a-breadcrumb style="margin: 16px 0">
      <a-breadcrumb-item>Configuration</a-breadcrumb-item>
      <a-breadcrumb-item>Categorie</a-breadcrumb-item>
    </a-breadcrumb>
  </div>
  
</template>
<script>
const listData = [];
export default {
  data() {
    return {
      listData,
      pagination: {
        onChange: page => {
          console.log(page);
        },
        pageSize: 3,
      },
      actions: [
        { type: 'star-o', text: '156' },
        { type: 'like-o', text: '156' },
        { type: 'message', text: '2' },
      ],
    };
  },
  async mounted(){
        try{
            let response = await this.$api.promote.get();
            this.listData = response.data
        }catch(exception){
            console.error("Error --->");
            console.log(exception);
        }
    }
};
</script>
<style></style>
