<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <a-layout-sider v-model="collapsed" collapsible>
      <div class="logo" />
      <a-menu theme="dark" :default-selected-keys="['1']" mode="inline">
        <a-menu-item key="1">
          <a-icon type="shopping" />
          <span>Boissons</span>
        </a-menu-item>
        <a-menu-item key="2">
          <a-icon type="file-done" />
          <span>Commandes</span>
        </a-menu-item>
        <a-menu-item key="3">
          <a-icon type="thunderbolt" />
          <span>Livraisons</span>
        </a-menu-item>
        <a-menu-item key="4">
          <a-icon type="solution" />
          <span>Plats</span>
        </a-menu-item>
        <a-menu-item key="5">
        <a-icon type="transaction" />
          <span>Transactions</span>
        </a-menu-item>
        <a-sub-menu key="configuration">
          <span slot="title"><a-icon type="setting" /><span>Configuration</span></span>
          <a-menu-item key="6">
            <NuxtLink to="/configurations/categorie">
              A propos
            </NuxtLink>
          </a-menu-item>
          <a-menu-item key="7">
            <NuxtLink to="/configurations/promote">
              Promouvoir
            </NuxtLink>
          </a-menu-item>
          <a-menu-item key="pro">
            <NuxtLink to="/configurations/promote">
              Mise en Avant
            </NuxtLink>
          </a-menu-item>
        </a-sub-menu>
        <a-menu-item key="9">
          <a-icon type="file" />
          <span>File</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0" />
      <a-layout-content style="margin: 0 16px">
        <nuxt />
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        Umtsaho ©2021 Created by spint-consulting
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  data() {
    return {
      collapsed: false,
    };
  },
};
</script>

<style>
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>
